<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.flyme.meditation.lifeassistant">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:launchMode="singleTask"
            android:taskAffinity=":login"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity"
            android:taskAffinity=":login" />
        <activity
            android:name=".RegActivity"
            android:label="@string/reg"
            android:parentActivityName=".LoginActivity"
            android:taskAffinity=":login" />

        <activity
            android:name=".MainActivity"
            android:alwaysRetainTaskState="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:taskAffinity=":user" />

        <activity
            android:name=".PersonActivity"
            android:label="@string/person"
            android:parentActivityName=".MainActivity"
            android:taskAffinity=":user" />

        <activity
            android:name=".CalendarActivity"
            android:label="@string/select_date"
            android:parentActivityName=".MainActivity"
            android:taskAffinity=":user" />

        <activity
            android:name=".FakeResultActivity"
            android:label="@string/search_result"
            android:launchMode="singleTask"
            android:parentActivityName=".MainActivity"
            android:taskAffinity=":user" />

        <activity
            android:name=".FakeTicketActivity"
            android:label="@string/book_ticket"
            android:launchMode="singleTask"
            android:parentActivityName=".FakeResultActivity"
            android:taskAffinity=":user" />
    </application>

</manifest>